---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="404 Page Not Found"
	description="This page was not found.  Please return to the home page."
	keywords=""
	canonicalURL="https://astro-simple-starter.netlify.app/404"
	robots="noindex, follow"
>
	<main class="bg-slate-100">
		<section class="p-8 max-w-xl mx-auto">
			<h1>404 Page Not Found</h1>
			<br/>
			<p>
				This page cannot be found. Please return to the <a href="/"
					>home page</a
				>.
			</p>
		</section>
	</main>
</Layout>

<style></style>
