---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Astro Web Framework Simple Starter Template"
	description="This is a simple starter template for the Astro Web Framework.  This is a clean boilerplate with some small useful additions."
	keywords="Astro themes, astro web framework, astro website, astro web project, astro web app, astro javascript, astro js, astro web library, astro coding, astro web development"
	canonicalURL="https://astro-simple-starter.netlify.app/"
	robots="index, follow"
>
	<main class="bg-slate-100">
		<section class="max-w-xl mx-auto p-8">
			<h1>ASTRO WEB FRAMEWORK SIMPLE STARTER TEMPLATE</h1>
			<br />
			<p>
				Astro is a web framework that is performant, user-friendly, and
				elegant. I made this Astro website starter because it's my go-to
				setup for Astro projects. It includes:
			</p>
			<br />
			<ul>
				<li>
					-Astro Tailwind CSS integration: <a
						href="https://docs.astro.build/en/guides/integrations-guide/tailwind/"
						target="_blank"
						>https://docs.astro.build/en/guides/integrations-guide/tailwind/</a
					>
				</li>
				<br />
				<li>
					-Astro sitemap integration: <a
						href="https://docs.astro.build/en/guides/integrations-guide/sitemap/"
						target="_blank"
						>https://docs.astro.build/en/guides/integrations-guide/sitemap/</a
					>
				</li>
				<br />
				<li>
					-Integration of Google Material Icons: <a
						href="https://developers.google.com/fonts/docs/material_icons#setup_method_1_using_via_google_fonts"
						target="_blank"
						>https://developers.google.com/fonts/docs/material_icons#setup_method_1_using_via_google_fonts</a
					>
				</li>
				<br />
				<li>
					-Integration of Google Fonts: <a
						href="https://fonts.google.com/"
						target="_blank">https://fonts.google.com/</a
					>
				</li>
				<br />
				<li>
					-Structured metadata setup for improved SEO (see header in
					layout file)
				</li>
				<br />
				<li>-Added navbar and footer components</li>
				<br />
				<li>
					-Added 404 page: <a href="/404" target="_blank"
						>https://astro-simple-starter.netlify.app/404</a>
				</li>
			</ul>
			<br/>
			<p class="p-4 bg-white rounded-xl border ">Github: <a href="https://github.com/Sean-93/astro-basic-starter" target="_blank">https://github.com/Sean-93/astro-basic-starter</a></p>
		</section>
	</main>
</Layout>

<style></style>
