---

---

<nav class="p-8 pb-0">
    <section class="max-w-4xl mx-auto 2xl:mx-0">
        <a href="/"
          class="bg-sky-500 font-black text-white text-center rounded-xl xl:rounded-full p-4 px-8 block xl:max-w-xl mx-auto xl:mx-0"
          title="Service on Fafco Solar Pool Heating in Arizona and Nevada"
        >
          <span class="text-5xl font-black block">FAFCO SERVICE</span>
          <br /><span class="text-2xl -mt-6 block">SOLAR POOL HEATING</span>
        </a>
      </section>
</nav>
<style>
	
</style>