---

---

<nav class="bg-slate-50 p-4">
    <div class="max-w-xl mx-auto">
        <a href="/" title="Astro Web Framework Simple Starter Template">
            <i class="material-icons">rocket</i>  Astro Basic Website Starter
        </a>
    </div>
</nav>
<style>
	
</style>