---

---

<nav class="p-8 pb-0">
    <section>
        <a href="/"
          class="bg-sky-500 font-black text-white text-center rounded-xl lg:rounded-full p-4 px-8 max-w-xl block"
          title="Service on Fafco Solar Pool Heating in Arizona and Nevada"
        >
          <span class="text-5xl font-black block">FAFCO SERVICE</span>
          <br /><span class="text-2xl -mt-6 block">SOLAR POOL HEATING</span>
        </a>
      </section>
</nav>
<style>
	
</style>